.container-buttons{
    margin: 20px 0px;
}
.container-buttons input{
    background: $color-dark-green;
    border: 0px;
    padding: 10px 25px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}
.container-buttons input:hover{
    transform: scale(1.05);
}
